@use 'with-breakout-end' as breakout-end;
@use 'with-breakout-start' as breakout-start;
@use 'with-main-justify' as main-justify;
@use 'with-main-sticky-top' as main-sticky-top;

@mixin with-modifier-classes {
  &.reverse {
    &[mode='mobile'] {
      &::part(aside) {
        order: 1;
      }

      &::part(main) {
        order: 2;
      }
    }

    &[mode='desktop']::part(wrapper) {
      flex-direction: row-reverse;
    }
  }

  &.reverse-desktop {
    &[mode='desktop']::part(wrapper) {
      flex-direction: row-reverse;
    }
  }

  &.breakout-start {
    @include breakout-start.with-breakout-start;
  }

  &.breakout-end {
    @include breakout-end.with-breakout-end;
  }

  &.with-main-justify-start {
    @include main-justify.with-main-justify(flex-start);
  }

  &.with-main-justify-center {
    @include main-justify.with-main-justify(center);
  }

  &.with-main-justify-end {
    @include main-justify.with-main-justify(flex-end);
  }

  &.with-main-sticky-top {
    @include main-sticky-top.with-main-sticky-top();
  }
}
