:host {
  display: block;
}

:where(#wrapper),
:where(#field) {
  display: grid;
  gap: 0.5rem;
}

:where(#label) {
  margin: 0;
  font-weight: 600;
}

:where(#label[hidden]) {
  display: none;
}

:where(#control) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-height: 2.75rem;
  padding: 0.625rem 0.75rem;
  border: 1px solid #ced4da;
}

:where(#control:focus-within) {
  border-color: #0d6efd;
}

:where(#validation) {
  display: none;
  grid-template-rows: 1fr;
  padding-top: 0.375rem; // Space for the arrow
}

:where(#validation slot) {
  display: contents;
}

:where(#validation-inner) {
  min-height: 0;
  overflow: visible; // Important for the arrow to be visible outside the bubble
}

:where(#validation-bubble) {
  position: relative;
}

:where(#validation-arrow) {
  position: absolute;
  top: 0;
  left: 0.75rem;
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background: white;
  border-top: 1px solid #dc3545;
  border-left: 1px solid #dc3545;
  transform: translateY(-50%) rotate(45deg);
}

:where(#validation-content) {
  display: block;
  border: 1px solid #dc3545;
}

// Styles for Validation - Do not mix them with input aid!
// Show is .slot-empty or if the validation message is set.
:host([invalid]) :where(#validation:has(slot:not(.slot-empty))),
:host([invalid][validation-message]) :where(#validation) {
  display: grid;
}

:where(#input-aid) {
  display: none;
  grid-template-rows: 0fr;
}

:where(#input-aid slot) {
  display: contents;
}

:where(#input-aid-inner) {
  min-height: 0;
  overflow: visible; // Important for the arrow to be visible outside the bubble
}

:where(#input-aid-bubble) {
  position: relative;
  opacity: 0;
}

:where(#input-aid-arrow) {
  position: absolute;
  top: 0;
  left: 0.75rem;
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background: white;
  border-top: 1px solid #0d6efd;
  border-left: 1px solid #0d6efd;
  transform: translateY(-50%) rotate(45deg);
}

:where(#input-aid-content) {
  display: block;
  border: 1px solid #0d6efd;
}

// Styles for Input Aid - Do not mix them with validation!
:where(#input-aid:has(slot:not(.slot-empty))) {
  display: grid;
}

:host(:focus-within) :where(#input-aid:has(slot:not(.slot-empty))) {
  grid-template-rows: 1fr;
  padding-top: 0.375rem; // Space for the arrow
}

:host(:focus-within) :where(#input-aid:has(slot:not(.slot-empty))) :where(#input-aid-bubble) {
  opacity: 1;
  transform: translateY(0);
}
