@mixin main {
  img,
  video {
    max-width: 100%;
    height: auto;
    border-radius: var(--nt-border-radius);
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .img-start {
    float: left;
    margin: 0 var(--nt-space-3) 0 0;
    max-width: 33%;
  }
  .img-end {
    float: right;
    margin: 0 0 0 var(--nt-space-3);
    max-width: 33%;
  }
  .img-inline {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }

  .img-caption {
    img {
      margin-bottom: 0;
    }
    font-size: 0.875em;
    color: var(--prose-muted);
    text-align: center;
    margin-top: var(--nt-space-1);
    margin-bottom: var(--prose-para-space);
  }

  p.img-grid {
    display: grid;

    // always at least 2 columns, but more if space allows

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--nt-space-3);
    justify-items: center;
    align-items: center;
    img,
    video {
      margin: 0;
    }
  }
}
