/* Tables */

@mixin main {
  --prose-table-border-color: var(--nt-text);

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
  }
  thead {
    --border-bottom: 2px solid var(--prose-table-border-color);
  }
  tbody {
    --border-bottom: 1px solid var(--prose-table-border-color);
  }

  tfoot {
    --border-bottom: none;
  }

  th,
  td {
    text-align: left;
    padding: var(--nt-space-2) var(--nt-space-3);
    border-bottom: var(--border-bottom, none);
  }
}
