@use 'with-modifier-classes' as modifier-classes;

@mixin default-style(
  $container-width: var(--nt-container-width, 100%),
  $cols: null,
  $gap: var(--nt-spacing-layout),
  $inner-padding: 0,
  $container-background: transparent,
  $container-border: none,
  $container-border-radius: 0,
  $modifierClasses: true
) {
  --container-width: #{$container-width};
  --gutter-x: #{$gap};
  --gutter-y: #{$gap};
  --row-inner-padding: #{$inner-padding};
  --container-background: #{$container-background};
  --container-border: #{$container-border};
  --container-border-radius: #{$container-border-radius};

  @if ($cols != null and $cols != none) {
    --cols: #{$cols};
  }

  @if ($modifierClasses != false and $modifierClasses != none) {
    @include modifier-classes.with-modifier-classes();
  }

  &::part(header) {
    text-align: center;
  }

  &::part(container) {
    background: var(--container-background);
    border: var(--container-border);
    border-radius: var(--container-border-radius);
    box-sizing: border-box;
    padding: var(--row-inner-padding);
  }

  &[mode='mobile'] > nte-card {
    box-sizing: border-box;
    // No Padding here
  }

  &[mode='desktop'] > nte-card {
    padding: 0;
  }
}
