@use '@nextrap/style-base' as *;

// make Array of all BS colors
$colors: ('primary', 'accent', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark');

.btn {
  // Configuration variables

  // Variables modified by the color classes
  --btn-txt: var(--nt-text-on-primary);
  --btn-bg: var(--nt-primary);
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(from var(--btn-bg) r g b / 0.8);
  color: var(--btn-txt);
  border-radius: var(--nt-border-radius);
  border: 1px solid var(--btn-bg);
  text-decoration: none;

  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: rgb(from var(--btn-bg) r g b / 1);
    color: white;
  }

  &.btn-link {
    background-color: transparent;
    color: rgb(from var(--nt-link) r g b / 0.8);
    border: none;

    text-decoration: var(--nt-text-decoration-link);
    &:hover {
      background-color: transparent;
      color: rgb(from var(--nt-link) r g b / 1);
    }
  }

  &.disabled,
  &[disabled] {
    background-color: rgba(from var(--btn-bg) r g b / 0.5);
    color: rgb(from var(--nt-text) r g b / 0.5);
    cursor: not-allowed;
    pointer-events: none;
  }

  &.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }

  &.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  // Dropdown button styles
  &.dropdown-toggle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem; // Space for the dropdown icon
    background-image: none; // Remove any background image
    background-color: rgb(from var(--btn-bg) r g b / 0.8);
    color: var(--btn-txt);

    &::after {
      content: '';
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      border-left: 0.25rem solid transparent;
      border-right: 0.25rem solid transparent;
      border-top: 0.25rem solid var(--btn-txt);
    }
  }

  &:active,
  &:focus + .dropdown-menu {
    display: block; // Show dropdown on active state
    opacity: 1; // Make dropdown visible
  }

  // Loop through colors and create classes
  @each $color in $colors {
    &.btn-#{$color} {
      --btn-bg: rgb(from var(--nt-#{$color}) r g b / 0.8);
      --btn-txt: rgb(from var(--nt-text-on-#{$color}) r g b / 0.8);
      border-color: var(--nt-#{$color});

      &:hover {
        --btn-bg: var(--nt-#{$color});
      }
    }
    &.btn-outline-#{$color} {
      background-color: transparent;
      --btn-txt: var(--nt-text);
      border: 1px solid rgb(from var(--nt-#{$color}) r g b / 0.8);

      &:hover {
        background-color: var(--nt-#{$color});
        --btn-bg: var(--nt-#{$color});
        --btn-txt: var(--nt-text-on-#{$color});
      }
    }
  }
}
