:host {
  --gap: var(--nt-gap);

  --container-width: var(--nt-container-width, 100%);
  --container-border: var(--nt-border-width) solid var(--nt-primary-subtle);
  --container-bg: var(--nt-light);

  --cols: 6;
  --breakpoint: md;
}

#container {
  margin: 0 auto;
  width: var(--container-width);

  background: var(--container-bg);
  border: var(--container-border);
}

#wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: stretch;
}

#main {
  order: 2;
}

#aside {
  order: 1;
}

:host([mode='desktop']) {
  #wrapper {
    position: relative;
    flex-direction: row;
  }

  #main {
    order: 1;
    width: calc(100% * var(--cols, 1) / 12);
  }

  #aside {
    order: 2;
    width: calc(100% * (12 - var(--cols, 1)) / 12);
  }

  &:host(.reverse) {
    #main {
      order: 2;
    }

    #aside {
      order: 1;
    }
  }
}
