:host {
  --gap: var(--nt-gap);
  --container-width: var(--nt-container-width, 100%);
  --container-bg: var(--nt-light);
  --inner-padding: var(--nt-space-3);
  --section-bg: transparent; // The main background

  --cols: 6;
  --breakpoint: md;

  background: var(--container-bg);
  display: block;
}

#container {
  margin-left: var(--container-margin-left, auto);
  margin-right: var(--container-margin-right, auto);
  width: var(--container-render-width, var(--container-width));

  box-sizing: border-box;
}

#wrapper {
  --aside-width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: stretch;

  & > * {
    padding: var(--inner-padding);
  }
}

:host([mode='mobile']) {
  #container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

:host([mode='mobile'].mobile-reverse) {
  #wrapper {
    flex-direction: column-reverse;
  }
}

:host([mode='desktop'].desktop-reverse) {
  #wrapper {
    flex-direction: row-reverse;
  }
}

:host([mode='desktop']) {
  #wrapper {
    flex-direction: row;
    --main-width: calc(100% * var(--cols, 1) / 12);
    &:has(#aside > .slot-empty) {
      flex-direction: column;

      #main {
        width: 100%;
        flex-basis: 100%;
      }
    }
    #main {
      order: 1;
      flex: 1 1 var(--main-width);
      box-sizing: border-box;
    }
    #aside {
      order: 2;
      flex: 1 1 calc(100% - var(--main-width));
      box-sizing: border-box;
    }
  }

  #aside {
    order: 2;
    width: auto;
    min-width: 0;
    flex: 1 1 0;
    box-sizing: border-box;

    &:has(.slot-empty) {
      display: none;
    }
  }
}
