@use '../../variables' as *;

// Create classes for bg colors and text colors
@each $color,
  $value
    in (
      'primary': $primary,
      'accent': $accent,
      'secondary': $secondary,
      'success': $success,
      'info': $info,
      'warning': $warning,
      'danger': $danger,
      'light': $light,
      'dark': $dark,
      'white': $white,
      'black': $black
    )
{
  .bg-#{$color} {
    background-color: var(--nt-#{$color}) !important;
    --background-color: var(--nt-#{$color}) !important;
    --text-color: var(--nt-text-on-#{$color}) !important;
  }
  .text-#{$color} {
    --text-color: var(--nt-#{$color}) !important;
    color: var(--nt-#{$color}) !important;
  }

  .border-#{$color} {
    --border-color: var(--nt-#{$color}) !important;
    border-color: var(--nt-#{$color}) !important;
  }
}

@each $color,
  $value
    in (
      'soft-primary': $soft-primary,
      'soft-accent': $soft-accent,
      'soft-secondary': $soft-secondary,
      'soft-success': $soft-success,
      'soft-info': $soft-info,
      'soft-warning': $soft-warning,
      'soft-danger': $soft-danger,
      'soft-light': $soft-light,
      'soft-dark': $soft-dark
    )
{
  .bg-#{$color} {
    background-color: var(--background-color) !important;
    --background-color: var(--nt-#{$color}) !important;
    --text-color: var(--nt-text-on-#{$color}) !important;
  }
}

.text-auto {
  color: var(--text-color) !important;
}
