# Add files here to ignore them from prettier formatting



/dist
/coverage
/.nx/cache
/.nx/workspace-data
/.kick.yml

# Avoid invalid template expressions
nextrap-base/nt-nx-generators/src/generators/files/**/*.scss


# Avoid Parsedown padded to separate lines
*.md