# Please keep this file in sync with the packages-table in README.md
#
# Syntax: https://docs.github.com/de/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

nextrap-base/nt-framework @dermatthes
nextrap-base/style-base @dermatthes
nextrap-base/style-reset @dermatthes
nextrap-base/style-buttons @dermatthes
nextrap-base/style-utils @dermatthes
nextrap-base/style-typography @dermatthes

nextrap-elements/nte-demo-viewer @marliedev
nextrap-elements/nte-dialog @evolkmann
nextrap-elements/nte-element-highlighter @evolkmann
nextrap-elements/nte-scroll-to-top @dermatthes
nextrap-elements/nte-stepper @marliedev
nextrap-elements/nte-scrollspy @marliedev
nextrap-elements/nte-progress @marliedev
nextrap-elements/nte-image @marcelfrank-dev
nextrap-elements/nte-form @Wasilewskiii

nextrap-layout/ntl-2col @evolkmann
nextrap-layout/ntl-infiniscroll @dermatthes
nextrap-layout/ntl-footer @marliedev
