@use './prose/box' as box;
@use './prose/table' as table;
@use './prose/headings' as headings;
@use './prose/image' as image;

.prose {
  /* ====== Component CSS variables ====== */
  --prose-max-w: 75ch;

  --prose-section-space-top: var(--nt-space-5);
  --prose-section-space-bottom: var(--nt-space-4);
  --prose-para-space: var(--nt-space-4);

  --prose-link-decoration: underline;

  --prose-text: var(--nt-text);
  --prose-muted: rgba(from var(--nt-text) r g b / 0.7);

  max-width: var(--prose-max-w);
  color: var(--nt-text);

  line-height: 1.65;
  display: block;
  margin: 0 auto;

  &.prose-xl {
    --prose-max-w: 100%;
  }

  /* Spacing rhythm */
  * {
    margin-bottom: var(--prose-para-space);
  }

  @include box.main;
  @include table.main;
  @include headings.main;
  @include image.main;
}
