h1,
.h1 {
  font-size: var(--nt-fs-h1);
  font-family: var(--nt-font-family-header), sans-serif;

  line-height: var(--nt-line-height-header);
}
h2,
.h2 {
  font-size: var(--nt-fs-h2);
  font-family: var(--nt-font-family-header), sans-serif;

  line-height: var(--nt-line-height-header);
}
h3,
.h3 {
  font-size: var(--nt-fs-h3);
  font-family: var(--nt-font-family-header), sans-serif;

  line-height: var(--nt-line-height-header);
}
h4,
.h4 {
  font-size: var(--nt-fs-h4);
  font-family: var(--nt-font-family-header) sans-serif;
  line-height: var(--nt-line-height-header);
}
h5,
.h5 {
  font-size: var(--nt-fs-h5);
  font-family: var(--nt-font-family-header), sans-serif;

  line-height: var(--nt-line-height-header);
}
h6,
.h6 {
  font-size: var(--nt-fs-h6);
  font-family: var(--nt-font-family-header), sans-serif;
  line-height: var(--nt-line-height-header);
}

// We set the default font size and family for all text elements - so we can modify them easily for all
// child elements.

p,
ul,
ol,
blockquote {
  --fs: var(--nt-fs-base);
  --font-family: var(--nt-font-family-base);
  --font-color: var(--nt-text);
}

body {
  font-family: var(--nt-font-family-base), sans-serif;
}

p {
  font-size: var(--font-size-base);
  color: var(--font-color);
}

small {
  font-size: var(--nt-fs-small);
}
