$primary: #007bff !default;
$accent: #6610f2 !default;
$secondary: #6c757d !default;
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #343a40 !default;
$white: #fff !default;
$black: #000 !default;

$lighten-factor: 40% !default;

// By default calculate light colors
@use 'sass:color';

$soft-primary: color.adjust($primary, $lightness: $lighten-factor) !default;
$soft-secondary: color.adjust($secondary, $lightness: $lighten-factor) !default;
$soft-accent: color.adjust($accent, $lightness: $lighten-factor) !default;
$soft-success: color.adjust($success, $lightness: $lighten-factor) !default;
$soft-info: color.adjust($info, $lightness: $lighten-factor) !default;
$soft-warning: color.adjust($warning, $lightness: $lighten-factor) !default;
$soft-danger: color.adjust($danger, $lightness: $lighten-factor) !default;
$soft-light: color.adjust($light, $lightness: $lighten-factor) !default;
$soft-dark: color.adjust($dark, $lightness: $lighten-factor) !default;

// ======== FONTS ======== //

$base-space: 1rem !default; // Base spacing unit

$font-family-base: sans-serif !default;
$font-size-base: 1rem !default; // Base font size
$font-size-multiplier: 1.2 !default; // Font size multiplier for headers
$line-height-base: 1.5 !default; // Base line height

$font-family-header: $font-family-base !default;
$font-size-header: 1rem !default; // Header font size
$font-size-multiplier-header: 0.7 !default; // Font size multiplier for headers
$line-height-header: 1.2 !default; // Header line height

$text: $black !default; // Base text color
$header: $black !default; // Header text color

$text-decoration-link: underline !default;
$link-color: $primary !default;
$link-on-dark: $white !default;
