@use 'module' as nextrap-base;

/**
 * For themes use the module import (do not use the default import)
 */

$primary: #007bff !default;
$accent: #b83e8a !default;
$secondary: #6c757d !default;
$enableScrollOffset: false !default;

$theme: (
  'primary': $primary,
  'secondary': $secondary,
  'accent': $accent,
  'enableScrollOffset': $enableScrollOffset,
) !default;

html {
  @include nextrap-base.nextrap-theme($theme, ());
}
