/* The ShadowDOM Styles */
#wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

#image {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  z-index: 0;
}

#gradient {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
}

#content {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}
