export * from './src/components/<%= name %>/<%= name %>';

// If mixin exisists, export it
// export * from './src/mixins/<%= className %>Mixin';


// Light-DOM-SCSS/-CSS niemals importieren oder (re-)exportieren, auch nicht indirekt.
// Nur Theme/App bindet Light-DOM-Styles über die öffentliche Sass-Mixin-API ein.
