<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %> Demos</title>
  </head>
  <body>
    <nte-demo-viewer welcome-title="<%= name %>" readme="/README.md">
      <demo title="Allgemeine Demo" description="Grundlegende Funktionalität" src="/demo/base.md"></demo>
      <demo title="Next demo" description="Nur ein Element kann geöffnet werden" src="/demo/base2.md"></demo>
      <!-- append morde demos here -->
    </nte-demo-viewer>

    <script src="/demo/main.js" type="module"></script>
  </body>
</html>
