@use '@nextrap/ntl-2col' as ntl2col;
@use '@nextrap/style-base/module' as base;

@mixin with-background-and-divider {
  --section-bg: var(--nt-primary);
  --border: none;
  --gap: 0;

  &[mode='desktop'] {
    &::part(aside) {
      position: relative;
    }

    &::part(aside)::after {
      content: '';
      position: absolute;
      top: 25%;
      bottom: 25%;
      left: 0;
      border-left: 1px solid var(--nt-light);
    }

    &.desktop-reverse::part(aside)::after {
      right: 0;
      left: auto;
    }
  }
}

ntl-2col {
  margin-bottom: 40px;
  @include ntl2col.default-style();

  &.with-background-and-divider {
    @include with-background-and-divider();
  }

  &.breakout-end {
    @include ntl2col.breakout-end;
  }

  &.breakout-start {
    @include ntl2col.breakout-start;
  }

  &.with-header-footer {
    &::part(top),
    &::part(bottom) {
      padding: 0.75rem 1rem;
      text-align: center;
    }
  }
}

.alternating ntl-2col {
  @include ntl2col.alternating();
}
