@use '@nextrap/ntl-2col' as ntl2col;
@use '@nextrap/style-base/module' as base;

ntl-2col {
  margin-bottom: 40px; // Only for demo: This should be done by the parent element like content-section > *
  @include ntl2col.default-style();

  &.variant-feature1 {
    @include ntl2col.with-background-and-divider();
  }

  &.with-header-footer {
    &::part(top),
    &::part(bottom) {
      padding: 0.75rem 1rem;
      text-align: center;
    }
  }
}

.alternating ntl-2col {
  @include ntl2col.with-alternating();
}
