/**
 * This file contains LightDOM Styles
 */

ntl-card-row {
  nte-card.highlight {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    z-index: 1;
  }
}

ntl-card-row-element::part(header) {
  background-color: red !important;
}
