/**
 * This file contains LightDOM Styles
 */

ntl-card-row {
  nte-card.highlight {
    margin-left: calc(var(--gutter-x) * -1);
    margin-right: calc(var(--gutter-x) * -1);
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    z-index: 1;
  }
}
