/* The ShadowDOM Styles */

:host {
  --aspect-ratio: 16 / 9;
  --breakpoint: lg;
  aspect-ratio: var(--aspect-ratio);
  width: 100%;
  display: block;
  isolation: isolate;
}

:host([mode='mobile']) {
  --aspect-ratio: 1 / 1;
}

:host([consentgiven='true']) {
  #pre-consent,
  #background {
    z-index: 0;
    opacity: 0;
  }

  #consented-content {
    z-index: 99;
    opacity: 1;
  }

  #loading-text {
    opacity: 1;
  }
}

#wrapper {
  display: grid;
  height: 100%;

  > * {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
  }
}

#pre-consent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 1;
  z-index: 99;
}

#background {
  height: 100%;
  transition: opacity 3s ease;
  opacity: 1;
}

#consented-content {
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease;

  slot::slotted(*) {
    width: 100%;
    height: 100%;
    border: none;
  }
}

#loading-text {
  opacity: 0;
  transition: opacity 0.5s ease;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
