/* The ShadowDOM Styles */

:host {
  --border-color: var(--nt-primary);
  --background-color: unset;
  --border-radius: var(--nt-border-radius);
  --border: var(--nt-border-width) solid var(--border-color);
  --x-padding: var(--nt-default-gap-x);
  --y-padding: var(--nt-default-gap-y);
}

#wrapper {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  > :has(.slot-empty) {
    display: none;
  }
}

#header {
  order: 2;
  padding: var(--y-padding) var(--x-padding);
  padding-bottom: 0;
  &:has(.slot-empty) {
    display: none;
  }
}

#image {
  order: 1;
  width: 100%;
}

#content {
  order: 50;
  flex-grow: 1;
  padding: var(--y-padding) var(--x-padding);
}

#footer {
  order: 999;
}
