/* The ShadowDOM Styles */

:host {
  --border-color: var(--nt-primary);
  --background-color: var(--nt-body, #fff);
  --border-radius: var(--nt-border-radius);
}

#wrapper {
  border: var(--nt-border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  > :has(.slot-empty) {
    display: none;
  }
}

#header {
  order: 2;
}

#image {
  order: 1;
  width: 100%;
}

#image-slot::slotted(p) {
  display: contents;
}

#content {
  order: 50;
}
