/* The ShadowDOM Styles */

:host {
  // TODO: Use typed attr() for columns/min-width/max-width once casting is supported by Firefox and Safari.
  --container-width: var(--nt-container-width) /* Refer to README.md for style guidelines */;
  --gap: var(--nt-spacing-layout);
  --breakpoint: md, lg; // xs,sm,md,lg,xl,xxl
  --columns: var(--cols, 3);
  --columns-tablet: var(--cols-tablet, 2);
  --columns-mobile: var(--cols-mobile, 1);
  --min-width: 0px;
  --max-width: unset;
}

:host([mode='tablet']:not(.with-min-width)) {
  #main {
    grid-template-columns: repeat(var(--columns-tablet), minmax(0, 1fr));
  }
  #content-wrapper {
    flex-direction: column;
  }
}

:host([mode='mobile']:not(.with-min-width)) {
  #main {
    grid-template-columns: repeat(var(--columns-mobile), minmax(0, 1fr));
  }
  #content-wrapper {
    flex-direction: column;
  }
}

#wrapper {
  width: var(--container-width);
  margin: 0 auto;
}

#content-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  & > * {
    flex: 1 1 auto;
  }
}

#main {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));

  & > ::slotted(*) {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
  }
}

:host(.with-min-width) {
  #main {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--min-width), 100%), 1fr));
  }
}
