// Button-group mixin API — styles the current selector.

@mixin btn-group() {
  --border-radius: var(--nt-border-radius, 0.25rem);

  display: inline-flex;
  flex-wrap: wrap;
  gap: 0;

  .btn {
    flex: 1 1 auto;
    margin: 0;
    min-width: 100px;
    border-radius: 0;
  }

  .btn:not(:last-child) {
    border-right: 0;
  }

  .btn:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  .btn:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}
