@mixin _prose-box($class) {
  --box-border: var(--nt-#{$class}-emphasis);
  --box-background: var(--nt-#{$class}-subtle);
  --box-header-color: var(--nt-#{$class}-emphasis);
}

@mixin main {
  .box {
    --box-border: var(--nt-text);
    --box-background: transparentize();
    --box-text: var(--nt-text);
    --box-radius: var(--nt-border-radius);

    --box-header-color: var(--box-border);

    border: 2px solid var(--box-border);

    border-radius: var(--box-radius);
    background: var(--box-background);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--box-header-color);
    }

    padding: var(--nt-space);

    *:first-child {
      margin-top: 0 !important;
    }
    *:last-child {
      margin-bottom: 0 !important;
    }

    &-primary {
      @include _prose-box('primary');
    }
    &-secondary {
      @include _prose-box('secondary');
    }
    &-accent {
      @include _prose-box('accent');
    }
    &-success {
      @include _prose-box('success');
    }
    &-info {
      @include _prose-box('info');
    }
    &-warning {
      @include _prose-box('warning');
    }
    &-danger {
      @include _prose-box('danger');
    }
    &-light {
      @include _prose-box('light');
    }
    &-dark {
      @include _prose-box('dark');
    }
  }
}
