@mixin main {
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    margin-top: var(--prose-section-space-top);

    > small {
      font-size: 0.6em;
      color: var(--prose-muted);
      margin-left: var(--nt-space-2);
      font-weight: 400;
    }
  }
}
