/**
 * This file contains LightDOM Styles
 */

ntl-card {
  /* Put styles here */

  --aspect-ratio: 5 / 4;
  --overlay-background: transparent
    linear-gradient(0deg, var(--nt-secondary) 0%, rgb(from var(--nt-secondary) r g b / 0) 100%) 0 0 no-repeat
    padding-box;

  [slot='image'] {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &::part(image) {
    aspect-ratio: var(--aspect-ratio);
  }

  &.img-fullsize {
    &::part(image) {
      aspect-ratio: initial;
    }

    [slot='image'] {
      width: 100%;
      height: auto;
    }
  }

  // TODO: Update style to use grid for overlay, instead of absolute
  &.img-overlay {
    isolation: isolate;
    container-type: inline-size;

    &::part(wrapper) {
      position: relative;
      justify-content: flex-end;
      overflow: hidden;
      // Calculates the height based on the width of the container and the aspect ratio
      min-height: calc(100cqw * var(--aspect-ratio));
    }

    &::part(image) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &::part(gradient) {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--overlay-background);
      z-index: 2;
    }

    &::part(header),
    &::part(content) {
      position: relative;
      z-index: 3;
    }
  }
}
