/* The ShadowDOM Styles */

:host {
  --container-width: var(--nt-container-width, 100%);
  --cols: attr(cols type(<integer>), var(--default-cols, 6));
  --min-width: attr(min-width type(<length-percentage>), 0px);
  --max-width: attr(max-width type(<length-percentage>), unset);
  --gutter-x: var(--nt-spacing-layout);
  --gutter-y: var(--nt-spacing-layout);
  --breakpoint: xl;

  display: block;
  box-sizing: border-box;
}

#container {
  margin: 0 auto;
  width: var(--container-width);
  box-sizing: border-box;
}

#header,
#footer {
  &:has(.slot-empty) {
    display: none;
  }
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gutter-y) var(--gutter-x);

  ::slotted(*) {
    --item-cols: attr(cols type(<integer>), var(--cols, 1));
    --item-max-width: attr(max-width type(<length-percentage>), var(--max-width));

    box-sizing: border-box;
    width: calc(100% / 12 * var(--item-cols) - var(--gutter-x));
    max-width: var(--item-max-width);
  }
}

:host([mode='desktop']) {
  #main {
    margin-left: calc(var(--gutter-x) / -2);
    width: calc(100% + var(--gutter-x));
    flex-direction: row;
  }
}

:host([min-width]) {
  #main {
    ::slotted(*) {
      flex: 1 1 min(var(--min-width), 100%);
      width: auto;
    }
  }
}

:host([mode='mobile']) {
  #container {
    width: 100%;
  }

  #main {
    flex-direction: column;

    ::slotted(*) {
      --gutter-x: 0px; // Must be 0px - otherwise: error in Firefox
      flex-basis: auto;
      width: 100%;
    }
  }
}
