/* The ShadowDOM Styles */

:host {
  --container-width: var(--nt-container-width) /* Refer to README.md for style guidelines */;
  --default-cols: 4;
  --gutter-x: var(--nt-gap);
  --gutter-y: var(--nt-gap);
}

:host([mode='desktop']) {
  .flex.row {
    flex-direction: row;
    ::slotted(*) {
      --cols: var(--default-cols);
    }
  }
}

:host([mode='mobile']) {
  .flex.row {
    flex-direction: column;
    ::slotted(*) {
      --cols: 12 !important;
    }
  }
}

.wrapper {
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
}

.flex.row {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  gap: var(--gutter-y);
  ::slotted(*) {
    width: calc(100% / 12 * var(--cols, 1) - var(--gutter-x));
  }
}
