/* The ShadowDOM Styles */

:host {
  --container-width: var(--nt-container-width, 100%);
  --min-width: unset;
  --max-width: unset;
  --gutter-x: var(--nt-spacing-layout);
  --gutter-y: var(--nt-spacing-layout);
  --breakpoint: xl;

  display: block;
  box-sizing: border-box;
}

#container {
  margin: 0 auto;
  width: var(--container-width);
  box-sizing: border-box;
}

#header,
#footer {
  &:has(.slot-empty) {
    display: none;
  }
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gutter-y, 0px) var(--gutter-x, 0px);

  ::slotted(*) {
    box-sizing: border-box;
    flex: 0 1 calc(
      100% / 12 * var(--cols, 12)
      - var(--gutter-x, 0px) * (12 - var(--cols, 12)) / 12
    );
    width: calc(
      100% / 12 * var(--cols, 12)
      - var(--gutter-x, 0px) * (12 - var(--cols, 12)) / 12
    );
    min-width: var(--min-width);
    max-width: var(--max-width);
    overflow: hidden;
  }
}

// Firefox cannot cast attr() values to numbers yet. Map the finite range without attr().
@for $cols from 1 through 12 {
  :host([cols='#{$cols}']) {
    --cols: #{$cols};
  }

  #main ::slotted([cols='#{$cols}']) {
    --cols: #{$cols};
  }
}

:host([mode='desktop']) {
  #main {
    flex-direction: row;
  }
}

:host([mode='mobile']) {
  #container {
    width: 100%;
  }

  #main {
    flex-direction: column;

    ::slotted(*) {
      --gutter-x: 0px; // Must be 0px - otherwise: error in Firefox
      flex: 0 0 100%;
      width: 100%;
    }
  }
}
