import { html } from 'lit';
import { expect } from 'vitest';
import { render } from 'vitest-browser-lit';
import { <%= elementClassName %> } from './<%= name %>';

describe('<%= name %>', () => {
  it('should create an element', () => {
    const el = new <%= elementClassName %>();
    expect(el).toBeInstanceOf(<%= elementClassName %>);
  });

  it.todo('write some real tests!');
});