import { html } from 'lit';
import { expect } from 'vitest';
import { render } from 'vitest-browser-lit';
import { <%= prefixedClassName %> } from './<%= prefix %><%= name %>';

describe('<%= prefix %><%= name %>', () => {
  it('should create an element', () => {
    const el = new <%= prefixedClassName %>();
    expect(el).toBeInstanceOf(<%= prefixedClassName %>);
  });

  it.todo('write some real tests!');
});