h1,
.h1 {
  font-size: var(--nt-font-size-h1);
  line-height: var(--nt-line-height-header);
}
h2,
.h2 {
  font-size: var(--nt-font-size-h2);
  line-height: var(--nt-line-height-header);
}
h3,
.h3 {
  font-size: var(--nt-font-size-h3);
  line-height: var(--nt-line-height-header);
}
h4,
.h4 {
  font-size: var(--nt-font-size-h4);
  line-height: var(--nt-line-height-header);
}
h5,
.h5 {
  font-size: var(--nt-font-size-h5);
  line-height: var(--nt-line-height-header);
}
h6,
.h6 {
  font-size: var(--nt-font-size-h6);
  line-height: var(--nt-line-height-header);
}
p {
  font-size: var(--nt-font-size-base);
  line-height: var(--nt-line-height-base);
}
small {
  font-size: var(--nt-font-size-small);
}
