/* Shadow DOM Styles for hero */

:host {
  --bg-color: var(--nt-body-teritary, #e4e6ef);
  --container-width: var(--nt-container-width, 100%);
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - var(--height-offset, 0px));
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

#wrapper {
  width: var(--container-width);
  margin: 0 auto;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > #title,
  #content {
    flex-grow: 1;
  }

  & > * {
    display: flex;
    align-items: center;
  }

  & > :has(.slot-empty) {
    display: none !important;
  }
}

#background {
  grid-row: 1;
  grid-column: 1;
  background-color: var(--bg-color);
  z-index: 0;
  height: 100%;
  position: absolute;
}

.background::slotted(*) {
  pointer-events: auto;
}

#content {
  height: 100%;
}
