:host {
  display: block;
  min-inline-size: 0;
}

#viewport {
  box-sizing: border-box;
  inline-size: 100%;
  min-block-size: 0;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}

::slotted(table) {
  border: 0;
  border-collapse: separate;
  border-radius: 0;
  border-spacing: 0;
}
