@mixin horizontal($justify: flex-start, $gap: 0) {
  --nte-nav-flow: row;
  --nte-nav-align: stretch;
  --nte-nav-justify: #{$justify};
  --nte-nav-gap: #{$gap};
  --nte-nav-submenu-position: absolute;
  --nte-nav-submenu-inset-block-start: 100%;
  --nte-nav-submenu-inset-inline-start: 0;
  --nte-nav-nested-submenu-inset-block-start: 0;
  --nte-nav-nested-submenu-inset-inline-start: 100%;
  --nte-nav-submenu-enter-transform: translateY(-0.35rem);
  --nte-nav-nested-submenu-enter-transform: translateX(-0.35rem);
  --nte-nav-submenu-inline-size: max(100%, var(--nte-nav-submenu-min-inline-size));
  --nte-nav-submenu-max-block-size: min(70vh, 32rem);
  --nte-nav-submenu-padding: var(--nte-nav-submenu-default-padding);
  --nte-nav-submenu-background: var(--nte-nav-submenu-default-background);
  --nte-nav-submenu-border: var(--nte-nav-submenu-default-border);
  --nte-nav-submenu-radius: var(--nte-nav-submenu-default-radius);
  --nte-nav-submenu-shadow: var(--nte-nav-submenu-default-shadow);
}
