@mixin size-small() {
  --nte-nav-item-padding-block: 0.45rem;
  --nte-nav-item-padding-inline: 0.7rem;
  --nte-nav-item-font-size: 0.875rem;
  --nte-nav-toggle-size: 2rem;
  --nte-nav-icon-size: 1rem;
}

@mixin size-medium() {
  --nte-nav-item-padding-block: 0.7rem;
  --nte-nav-item-padding-inline: 1rem;
  --nte-nav-item-font-size: 1rem;
  --nte-nav-toggle-size: 2.5rem;
  --nte-nav-icon-size: 1.1rem;
}

@mixin size-large() {
  --nte-nav-item-padding-block: 0.9rem;
  --nte-nav-item-padding-inline: 1.25rem;
  --nte-nav-item-font-size: 1.125rem;
  --nte-nav-toggle-size: 3rem;
  --nte-nav-icon-size: 1.2rem;
}
