:root {
  //--nt-container-width: 100%;
  // Set the container size based on the media width like in Bootstrap

  @media (min-width: 576px) {
    --nt-container-width: 540px;
  }

  @media (min-width: 768px) {
    --nt-container-width: 720px;
  }

  @media (min-width: 992px) {
    --nt-container-width: 960px;
  }

  @media (min-width: 1200px) {
    --nt-container-width: 1140px;
  }

  @media (min-width: 1400px) {
    --nt-container-width: 1320px;
  }
}
