import { defineDemo } from '@trunkjs/demo-viewer';
import demoHtml from './02-basic.html?raw';
import { renderDocumentDemo } from './main';

export default defineDemo({
  title: 'Basis',
  description: 'Grundlegende Verwendung von <%= name %>',
  render(root) {
    renderDocumentDemo(root, demoHtml);
  },
});
