@use 'sass:math';

.row {
  --gutter-x: var(--nt-gap, 1rem);
  --gutter-y: 0;

  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;

  // Remove padding on first element start and last element end of each row
  margin-right: calc(var(--gutter-x) * -0.5) !important;
  margin-left: calc(var(--gutter-x) * -0.5) !important;

  // Ensure child elements can shrink properly
  & > * {
    flex-shrink: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    padding-right: calc(var(--gutter-x) * 0.5) !important;
    padding-left: calc(var(--gutter-x) * 0.5) !important;
    margin-top: var(--gutter-y) !important;
  }
}

@for $i from 1 through 6 {
  .row-cols-#{$i} > * {
    flex: 0 0 math.percentage(math.div(1, $i)) !important;
    width: math.percentage(math.div(1, $i)) !important;
  }
}

.col-auto {
  flex: 0 0 auto !important;
  width: auto !important;
}

.col {
  flex: 1 0 0 !important;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 auto !important;
    width: calc(#{math.percentage(math.div($i, 12))}) !important;
  }
}

@for $i from 0 through 6 {
  .g-#{$i} {
    --gutter-y: calc(#{$i} * var(--nt-gap, 1rem)) !important;
    --gutter-x: calc(#{$i} * var(--nt-gap, 1rem)) !important;
  }
  .gx-#{$i} {
    --gutter-x: calc(#{$i} * var(--nt-gap, 1rem)) !important;
  }
  .gy-#{$i} {
    --gutter-y: calc(#{$i} * var(--nt-gap, 1rem)) !important;
  }
}
